<div class="container">
    <mat-toolbar class="add-course">
      <span>Manage Courses</span>
  
      <button mat-raised-button color="primary" (click)="addCourse()">
        Add Course
      </button>
    </mat-toolbar>
  
    <mat-card class="mat-elevation-z4">
        <table mat-table [dataSource]="courses" class="mat-elevation-z8">

            <!-- Title Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Title </th>
              <td mat-cell *matCellDef="let course"> {{ course.title }} </td>
            </ng-container>
        
            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef style="max-width: 200px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> Description </th>
              <td mat-cell *matCellDef="let course" style="max-width: 200px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> {{ course.description }} </td>
            </ng-container>
        
            <!-- Created At Column -->
            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef> Created At </th>
              <td mat-cell *matCellDef="let course"> {{ course.createdAt | date }} </td>
            </ng-container>
        
            <!-- Updated At Column -->
            <ng-container matColumnDef="updatedAt">
              <th mat-header-cell *matHeaderCellDef> Updated At </th>
              <td mat-cell *matCellDef="let course"> {{ course.updatedAt | date }} </td>
            </ng-container>
        
            <!-- Teacher Column -->
            <ng-container matColumnDef="teacher">
              <th mat-header-cell *matHeaderCellDef> Teacher </th>
              <td mat-cell *matCellDef="let course"> {{ course.teacher?.name }} </td>
            </ng-container>
        
            <!-- Number of Chapters Column -->
            <ng-container matColumnDef="chaptersCount">
              <th mat-header-cell *matHeaderCellDef> Chapters </th>
              <td mat-cell *matCellDef="let course">  </td>
            </ng-container>
        
            <!-- Action Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let course">
                <button mat-raised-button color="primary" style="margin-right: 15px;" (click)="onAddChapter(course)">Add Chapter</button>

                <button mat-raised-button color="primary" (click)="editCourse(course)">
                  Edit
                </button>
                <button style="margin-left: 5px;" mat-raised-button color="warn" (click)="deleteCourse(course)">
                  Delete
                </button>
              </td>
            </ng-container>
        
            <!-- Table Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-card>
  </div>
  