
<div class="tutors-container">
    <div class="tutors-list">
      <h3>Our Tutors</h3>
      <ul>
        <li *ngFor="let tutor of tutors" 
            (click)="selectTutor(tutor)" 
            [class.selected]="tutor === selectedTutor">
          <img [src]="tutor.profilePictureUrl" alt="{{ tutor.name }}'s profile picture">
          <span>{{ tutor.name }}</span>
        </li>
      </ul>
    </div>
  
    <div class="tutor-details" *ngIf="selectedTutor">
      <h4>{{ selectedTutor?.name }}</h4>
      <p>{{ selectedTutor?.bio }}</p>
  
      <div *ngIf="selectedTutor.isLiveStreaming" class="live-stream">
        <p><strong>Currently Live Streaming!</strong></p>
      </div>
  
      <h5>Courses</h5>
      <ul>
        <li *ngFor="let course of selectedTutor.courses">
          {{ course.title }} - {{ course.description }}
        </li>
      </ul>
    </div>
  </div>
  