.admin-container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f8f8f8;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.admin-container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f8f8f8;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
