.courses {
  padding: 50px 20px;
}

.courses h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.course {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  flex: 1 1 calc(33.33% - 20px); /* Each course takes up roughly a third of the container, minus the gap */
  max-width: calc(33.33% - 20px); /* Ensure that the card does not exceed one-third of the row width */
  min-width: 280px; 
  text-align: start;
}

.course img {
  max-width: 100%;
  height: auto;
}

.course p {
  color: #555;
}

@media (max-width: 1024px) {
  .course {
    flex: 1 1 calc(50% - 20px); /* Two columns on medium-sized screens */
    max-width: calc(50% - 20px);
  }
}


@media (max-width: 768px) {
  .courses h2 {
    font-size: 1.8rem;
  }

  .course-list {
    flex-direction: column;
    align-items: center;
  }

  .course {
    max-width: 100%;
  }
}
